/** {
	border: 1px solid;
}*/
body {

}

input[type="date"],input[type="time"] {
	line-height: 1;
}

th,td {
	min-width: 100px;
}

.title {
	font-size: 20px;
}
.hvcenter{
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
}
body section {
	/*height: 900px;*/
	margin-bottom: 100px;
}
.nav-child {
	font-size: 10px;
}
.searchISBN {
	margin-top: 200px;
}
/*section位置离header60px*/
.section-content {
	margin-top: 60px;
}
/*使label内文字横排*/
.form-label {
	padding-right: 0px;
	padding-left: 0px;
}
.tr-choosen-ok {
	background-color: rgb(196,196,226);
}
.cursor-pointer {
	cursor: pointer;
}
textarea {
	resize: none;
}
.push-left{
	height: 600px; 
	overflow-y: hidden; 
}
.push-right {
	height: 600px; 
	overflow-y: hidden; 
	border: 1px solid #000000;
	
}
.push-ul {
	list-style-type: none;
}
.push-ul li{
	height: 150px;
	border: 1px solid #000000;
	-webkit-user-select: none; 
}