header .message {
	float:right;
	margin-right: 20px;
}

body {
	background-color: #F7F7F7;
}

body>section {
	width: 1000px;
	/*max-height: 2000px;*/
	margin: 100px auto 50px;
	/*border: 1px solid #000000;*/
	background-color: #F7F7F7;
}

body>section .recommend {
	width: 75%;
	height: 280px;
	/*border: 1px solid #000000;*/
	margin-left: 250px;
	padding: 20px;
	background-color: #FFFFFF;
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}
body>section article {
	padding: 20px;
	background-color: #FFFFFF;
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}

body>section nav {
	width: 240px;
	height: 450px;
	padding: 10px;
	float: left;
	overflow: hidden;
	background-color: #ffffff;
	white-space: nowrap;
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}

/*.navbar {
	background-color: #326295;
}*/

aside {
	width: 0px;
	/*height: 100px;*/
	/*max-height: 100px;*/
	position: fixed;
	color: #fff;
	background-color: rgba(112,112,112,1);
	overflow-x: auto; 
}

aside p {
	white-space:nowrap;
}

aside a {
	color: #000;
}


footer {
	height: 50px;
	width: 100%;
	margin: 0px auto 0px;
	background-color: #010101;
	color: #ffffff;
	/*border: 1px solid #000000;*/
}


.foot-content {
	margin: 5px auto 5px auto;
	width: 400px;
	line-height: 50px;
}


.members {
	display: none;
}

.img {
	height: 150px;
	width: 150px;
	display: block;
	margin:0px auto 0px;
}

.bookName {
	height: 40px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-size: 12px;
	color: #2B2323;
	overflow: hidden;
}

.cursor-pointer {
	cursor: pointer;
}

.stars {
	height: 20px;
}

/*star样式*******************************************/
.rating {
  margin: 5px 0;
}

.rating i {
  display: inline-block;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}

/** Colors */

.rating-0 .star-0,
.rating-0-half .star-0 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

.rating-0-half .star-1 {
  border-left-color: #cc8b1f;
}

.rating-1 .star-0,
.rating-1-half .star-0 {
  border-color: #dcb228;
  background: #dcb228;
}

.rating-1 .star-1,
.rating-1-half .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

.rating-1-half .star-2 {
  border-left-color: #cc8b1f;
}

.rating-2 .star-1,
.rating-2-half .star-1 {
  border-color: #dcb228;
  background: #dcb228;
}

.rating-2 .star-2,
.rating-2-half .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

.rating-2-half .star-3 {
  border-left-color: #dcb228;
}

.rating-3 .star-1,
.rating-3-half .star-1 {
  border-color: #f0991e;
  background: #f0991e;
}

.rating-3 .star-2,
.rating-3-half .star-2 {
  border-color: #f0991e;
  background: #f0991e;
}

.rating-3 .star-3,
.rating-3-half .star-3 {
  border-color: #f0991e;
  background: #f0991e;
}

.rating-3-half .star-4 {
  border-left-color: #f0991e;
}

.rating-4 .star-1,
.rating-4-half .star-1 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4 .star-2,
.rating-4-half .star-2 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4 .star-3,
.rating-4-half .star-3 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4 .star-4,
.rating-4-half .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4-half .star-5 {
  border-left-color: #f26a2c;
}

.rating-5 .star-1,
.rating-5-half .star-1 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5 .star-2,
.rating-5-half .star-2 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5 .star-3,
.rating-5-half .star-3 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5 .star-4,
.rating-5-half .star-4 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5 .star-5,
.rating-5-half .star-5 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5-half .star-6 {
  border-left-color: #dd050b;
}
/*star样式*/


/******************************index.html页面**********************************以下*/
section article.books {
	width: 75%;
	/*max-height: 1800px;*/
	margin-left: 250px;
	/*border: 1px solid #000000;*/
	/*float: left;*/
}



ul.bookList {
	list-style-type: none;
}

ul.bookList li {
	width:200px;
	height:230px;
	margin-left:20px;
	margin-bottom: 20px;
	padding-top: 10px; 
	border: 1px solid #e8e8e8;
	float: left;
	text-align: center;
}

.bookRow {
	height: 250px;
	margin-top: 20px;
	/*border: 1px solid #ff0000;*/
}



.search {
	margin: 20px 10px;
}

.search input {
	width: 150px;
	float: left;
}

.search button {
}

.categoryList ul {
	list-style-type: none;
	margin-left: -40px;
}

.categoryList li {
	margin-top: 5px;
}

.categoryList a {
	color: #745F34;
	text-decoration: none;
}

/******************************index.html页面***************************以上*/


/******************************非index.html页面*************************以下*/
section article.notIndex {
	width: 980px;
	max-height: 1800px;
	margin: 20px 10px 20px;
}

section article.notIndex header div{
	border-radius: 10px;
}



/*myLoan.html页面**以下*/

input[type="date"] {
	line-height: 1;
}

.queryBar {

}

.tableField {
	margin-top: 20px;
}

.tableField legend {
	background-color: #4d9feb;
	color: #ffffff;
	border-radius: 5px;
}

.tableField legend a {
	float: right;
	color: #ffffff;
}

a:hover {
	color: #ff0000;
}

table {
	
}
table td,th {
	text-align: center;
	
}

#bookComment {
	display: none;
}

/*myLoan.html页面**以上*/


/*buyBook.html页面**以下*/

.myForm {
	width: 400px;
	margin:10px auto 10px;
	display: block;
}

.myForm label {
	width: 80px;
}

.myForm button {
	margin-left:250px;
}

.form-row {
	width: 50%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

textarea.reason {
	width:300px;
	height:300px;
	resize:none;
}

.reasonLabel {
	float: left;
}

/*buyBook.html页面**以上*/

/*myReview.html页面**以下*/

.myComment {
	display: none;
}

.myComment textarea{
	border: 1px dotted #000000;
	height: 150px;
	width: 100%;
	overflow: auto;
}


/*myReview.html页面**以上*/

/*myPoint.html页面**以下*/

.point {
	color: #f76120;
	font-weight: bold;
}

.exchange {
	margin-right: 50px;
}

.total {
	margin-right: 50px;
}

.gift {
	background-color: #F77B09;
	border-color: #F77B09;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}
.gift:hover {
	background-color: #F78B29;
	color: #fff;
}
.details {
	display: none;
}

/*myPoint.html页面**以上*/


/******************************非index.html页面*************************以上*/