{% extends "lms/reader/readerBase.html" %}
{% block title %}图书详细信息{% endblock %}
{% block content %}
		<article class="notIndex" style="height:900px">
			<header>
				<div class="alert alert-info" role="alert">
					下面是图书详细资料！
				</div>
			</header>
			<section style="height:600px;width:600px;margin:10px auto;padding:20px;">
				<div style="width:150px;height:200px;border:1px solid #ff0000;float:left;line-height:200px;text-align:center">
					<img name="image" src="{{STATIC_PREFIX}}img_user/{{book_info.pic_location}}">
				</div>
				<div style="width:250px;height:200px;float:left;margin-left:100px">
					<p>书名：{{book_info.name}}</p>
					<p>作者：{{book_info.author}}</p>
					<p>出版时间：{{book_info.publish_date}}</p>
					<p>出版社：{{book_info.publisher}}</p>
					<p>ISBN：{{book_info.isbn}}</p>
					<p class="rating cursor-pointer" style="width: 200px;height:30px;">
						评分：
						<i class="star-1">★</i>
						<i class="star-2">★</i>
						<i class="star-3">★</i>
						<i class="star-4">★</i>
						<i class="star-5">★</i>
					</p>
				</div>
				<div style="margin-top:230px;">
					<fieldset>
						<legend>内容简介</legend>
						<div class="scrollMore" style="width:550px;height:150px;overflow:hidden">
							{{book_info.content_intro}}
						</div>
					</fieldset>
				</div>
				<div style="margin-top:10px;">
					<fieldset>
						<legend>评价列表</legend>
						<div class="scrollMore" style="width:550px;height:200px;overflow:hidden">
							{% for comment in comments %}
								<p><span>（{{comment.loan.reader.username}}）{{comment.loan.reader.name}}：</span><span>{{comment.content}}</span></p>
							{% endfor %}
						</div>
					</fieldset>
				</div>
			</section>
		</article>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(".navbar-fixed-top").headroom({
        "tolerance": 5,
        "offset": 205,
        "classes": {
            "initial": "animated",
            "pinned": "bounceInLeft",
            "unpinned": "bounceOutLeft"
        }
    });
    function scoreToStar(score,that) {
		switch(score)
		{
		case 1:
			that.addClass('rating-0-half');
			break;
		case 2:
			that.addClass('rating-1');
			break;
		case 3:
			that.addClass('rating-1-half');
			break;
		case 4:
			that.addClass('rating-2');
			break;
		case 5:
			that.addClass('rating-2-half');
			break;
		case 6:
			that.addClass('rating-3');
			break;
		case 7:
			that.addClass('rating-3-half');
			break;
		case 8:
			that.addClass('rating-4');
			break;
		case 9:
			that.addClass('rating-4-half');
			break;
		case 10:
			that.addClass('rating-5');
			break;
		default:
			break;
		}
	}
    $(function() {
    	/*shortPageFooter();*/
		var sum = {{book_info.rating_sum}};
    	console.log(sum*2);
		var count = {{book_info.rating_count}};
		console.log(count);
		var score = Math.floor(sum*2/count);
		scoreToStar(score,$('.rating'));
		
    })
</script>
{% endblock %}