{% extends "lms/reader/readerBase.html" %}
{% block title %}我的书评{% endblock %}
{% block content %}
<article class="notIndex">
	<header>
		<div class="titleBar">
			我的书评
		</div>
	</header>
	<section>
		<div class="tableField">
			<fieldset>
				<legend>书评列表</legend>
				<table class="table">
					<tr>
						<th>序号</th>
						<th>书名</th>
						<th>借阅时间</th>
						<th>书评</th>
					</tr>
					<tr>
					{% for comment in comments %}
						<td>{{comment.id}}</td>
						<td>{{comment.loan.copy.book.name}}</td>
						<td>{{comment.create_date_time}}</td>
						<label id="rating_score" style="display:none;">{{comment.loan.rating_score}}</label>
						<label id="{{comment.id}}" style="display:none;" >{{comment.content}}</label>
						<td><a href="javascript:showComment({{comment.id}})">查看</a></td>
					</tr>
					{% endfor %}
				</table>
				<!-- <div class="pages">
							<ul class="pager">
								<li><a href="#">上一页</a></li>
								<li><a href="#">下一页</a></li>
							</ul>
						</div> -->
			</fieldset>
		</div>
		<fieldset class="myComment">
			<legend>
				评论内容：<a href="javascript:hideComment()">收起</a>
			</legend>
			<p class="rating rating-0 cursor-pointer" id="rating" style="width: 150px;height:30px;">
				<i class="star-1">★</i>
				<i class="star-2">★</i>
				<i class="star-3">★</i>
				<i class="star-4">★</i>
				<i class="star-5">★</i>
			</p>
			<textarea disabled="disabled"></textarea>
		</fieldset>
	</section>
</article>
{% endblock %}

{% block js %}
<script type="text/javascript">
	function showComment(id) {
		var text = $("#"+id).text();
		$('.myComment textarea').text(text);
		$('.myComment').slideDown('slow');
		var score = $("#"+id).prev().text();
		for (var s = 1; s <=5; s++) {
    		$('#rating').removeClass('rating-'+s);
    	}
    	$('#rating').addClass('rating-'+score);
	}
	function hideComment() {
		$('.myComment').slideUp('slow');
	}
	$(function() {
    	shortPageFooter();
    })
</script>
{% endblock %}
